<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650965820102-gkdcq5nlp5rghg6qm7la0j0kmord8tct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650965820102-gkdcq5nlp5rghg6qm7la0j0kmord8tct</string>
	<key>API_KEY</key>
	<string>AIzaSyCaZa5GdICD4HWXXwzMbO9qxsV5kohdZlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>650965820102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilmos.ios</string>
	<key>PROJECT_ID</key>
	<string>ilmos-3c35a</string>
	<key>STORAGE_BUCKET</key>
	<string>ilmos-3c35a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650965820102:ios:13444d2c23f6d046d02dc7</string>
</dict>
</plist>